{;; Root deps.edn - aggregates core and ui for development
 ;; For production, use core/deps.edn directly

 :paths []

 :aliases
 {;; Development: load everything
  :dev
  {:extra-paths ["core/src" "ui/src" "ui/resources" "dev/src" "test"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                datascript/datascript {:mvn/version "1.6.5"}
                org.clojure/data.json {:mvn/version "2.5.1"}
                com.taoensso/telemere {:mvn/version "1.2.1"}
                com.cognitect/transit-clj {:mvn/version "1.0.333"}
                ;; UI server deps
                ring/ring-core {:mvn/version "1.10.0"}
                ring/ring-jetty-adapter {:mvn/version "1.10.0"}
                ring/ring-devel {:mvn/version "1.10.0"}
                compojure/compojure {:mvn/version "1.7.0"}
                ;; Dev tools
                org.clojure/tools.namespace {:mvn/version "1.4.4"}}}

  ;; REPL with dev namespace
  :repl
  {:extra-paths ["core/src" "ui/src" "ui/resources" "dev/src" "test"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                datascript/datascript {:mvn/version "1.6.5"}
                org.clojure/data.json {:mvn/version "2.5.1"}
                com.taoensso/telemere {:mvn/version "1.2.1"}
                com.cognitect/transit-clj {:mvn/version "1.0.333"}
                ring/ring-core {:mvn/version "1.10.0"}
                ring/ring-jetty-adapter {:mvn/version "1.10.0"}
                ring/ring-devel {:mvn/version "1.10.0"}
                compojure/compojure {:mvn/version "1.7.0"}
                org.clojure/tools.namespace {:mvn/version "1.4.4"}}}

  ;; Test runner (core only)
  :test
  {:extra-paths ["core/src" "test"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                datascript/datascript {:mvn/version "1.6.5"}
                org.clojure/data.json {:mvn/version "2.5.1"}
                com.taoensso/telemere {:mvn/version "1.2.1"}
                com.cognitect/transit-clj {:mvn/version "1.0.333"}
                lambdaisland/kaocha {:mvn/version "1.87.1366"}}
   :main-opts ["-m" "kaocha.runner"]}

  ;; Build core library
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
   :ns-default build}}}
