{:paths ["src"]

 :deps
 {io.github.semantic-namespace/atlas {:local/root "../core"}
  org.clojure/tools.reader {:mvn/version "1.5.2"}}

 :aliases
 {;; Build for deployment
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
   :ns-default build}

  ;; Deploy to Clojars
  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? false
               :pom-file "pom.xml"
               :repository "clojars"}}}}
